# Dependencies
node_modules/
.pnpm-store/

# Build
dist/

# Environment
.env
.env.local
.env.development.local
.env.production.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

.idea/

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/

# Misc
*.local
